# Build and Release Folders
vendor

# Other files and folders
tests/_output

# Executables
*.exe
*.zip

# MacOS
.DS_Store

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
